// Обнуление стилей
@import "./nullstyle.scss";
// Шрифт
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
//mixins
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin rectangle-shadow {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    padding: 40px 50px;
}
//SCSS
body {
    font-family: "Roboto", sans-serif;
    color: #8794ba;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f8f9ff;
    // background-color: #172755;
    overflow-x: hidden;
}
//main wrapper
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
// to make blue background at the top
.content::before {
    content: "";
    position: absolute;
    top: -600px;
    left: -200px;
    z-index: -2;
    width: calc(100vw + 1000px);
    height: 1330px;
    border-bottom: 10px solid #ef2a82;
    transform: rotate(-5deg);
    background-color: #172755;
}
// .content::after {
//     content: "";
//     position: absolute;
//     bottom: -600px;
//     left: -200px;
//     z-index: -2;
//     width: calc(100vw + 1000px);
//     height: 1330px;
//     border-top: 10px solid #ef2a82;
//     transform: rotate(-5deg);
//     background-color: #172755;
// }

//header

.header {
    height: 140px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    &__content {
        @include flex-row();
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation {
        @include flex-row();
    }

    &__profile {
        @include flex-row();
    }
}

//left part of header

.navigation {
    &__logotype {
        margin: 0 95px 0 0;
    }
}

// logotype

.logotype {
    cursor: pointer;
    @include flex-row();
    align-items: center;
    &_pink {
        color: #fff;
        .logotype__image {
            padding-right: 13px;
            img {
                width: 40px;
            }
        }
        .logotype__name {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    &_blue {
        .logotype__image {
            padding-right: 13px;
            img {
                width: 30px;
                color: #8794ba;
            }
        }
        .logotype__name {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

//nav bar

.menu {
    font-size: 16px;
    &__list {
        @include flex-row();
        height: 100%;
        align-items: center;
    }
    &__item {
        padding: 0 36px 0 0;
        &:last-child {
            padding: 0;
        }
    }
    &__link {
        color: #8794ba;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
        }
    }
}

//sign in and up buttons

.profile {
    @include flex-row();
    align-items: center;
    a {
        color: #8794ba;
    }
    &__signin {
        margin-right: 40px;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
            text-decoration: underline;
        }
    }
    &__signup {
        padding: 10px 50px;
        border: 1px solid #465b95;
        border-radius: 70px;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
            background-color: #f14291;
            border: 1px solid transparent;
        }
    }
}

// first section

.welcome {
    height: 815px;
    &__content {
        @include flex-row();
        gap: 80px;
        height: 100%;
        align-items: center;
    }

    &__info {
        flex: 1 1 50%;
    }

    &__title {
        font-size: 50px;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        padding: 0 0 15px 0;
    }

    &__text {
        padding-bottom: 50px;
    }

    &__button {
        font-size: 16px;
        background-color: #ef2a82;
        border-radius: 70px;
        padding: 15px 80px;
        color: #fff;
        border: 1px solid transparent;
        transition: 0.2s linear;
        &:hover {
            border: 1px solid #465b95;
            transition: 0.2s linear;
            background-color: transparent;
        }
    }
    &__images {
        flex: 1 1 50%;
        position: relative;
        height: 100%;
    }
    &__ages {
        top: 326px;
        left: 0;
        position: absolute;
        z-index: 1;
        @include rectangle-shadow();
    }

    &__graphs {
        top: 200px;
        left: 70px;
        position: absolute;
        z-index: 0;
        @include rectangle-shadow();
    }
}

//second section

.features {
    padding: 40px 0 120px 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 40px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 30px;
    }

    &__text {
        padding-bottom: 70px;
        text-align: center;
        padding: 0 60px;
        padding-bottom: 80px;
    }

    &__cards {
        @include flex-row();
        justify-content: space-between;
    }
}
//cards in features section
.cards {
    &__item {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    &__image {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 16px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 15px;
        line-height: 1.4;
    }

    &__description {
        text-align: center;
    }
}

//3rd section

.caps {
    &__item {
        margin-bottom: 120px;
    }

    &__content {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
    }

    &__description {
        padding-right: 200px;
    }

    &__title {
        font-size: 40px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 30px;
        line-height: 1.2;
    }

    &__graph {
        display: flex;
    }

    &__rectangle {
        @include rectangle-shadow();
        padding: 70px 90px;
    }
}
//graph + text card
.caps__item_reverse {
    .caps__description {
        padding-left: 200px;
        text-align: right;
        padding-right: 0;
    }
}

//footer

.footer {
    height: 150px;
    border-top: 1px solid #2a407c;
    &__content {
        @include flex-row();
        justify-content: space-between;
        height: 100%;
    }
    // &__logotype {
    // }
    // &__menu {
    // }
    &__links {
        @include flex-row();
        align-items: center;
    }

    &__link {
        margin-right: 40px;
        &:last-child {
            margin: 0;
        }
        img {
            display: inline-block;
            color: #fff;
        }
    }
}
