// Null style
@import "./nullstyle.scss";
// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
// Mixins
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin rectangle-shadow {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    padding: 40px 50px;
}
// Variables
$pink: #ef2a82;
$blue: #8794ba;
// SCSS
body {
    font-family: "Roboto", sans-serif;
    color: $blue;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f8f9ff;
}
// Main wrapper
.wrapper {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}
.content {
    position: relative;
}

.content {
    overflow: hidden;
}
// .content::before {
//     content: "";
//     position: absolute;
//     top: -5%;
//     left: -5%;
//     z-index: -2;
//     width: 110%;
//     height: 850px;
//     border-bottom: 10px solid #ef2a82;
//     transform: rotate(-3deg);
//     background-color: #172755;
// }
.content__background {
    position: absolute;
    overflow: hidden;
    z-index: -2;
    left: -5%;
    width: 110%;
    background-color: #172755;
    border: 15px solid $pink;
    &_top {
        top: -5%;
        height: 950px;
        transform: rotate(-3deg);
        &::before {
            content: "";
            background-image: url("images/background logotype/background.svg");
            background-size: 600px;
            background-repeat: no-repeat;
            width: 600px;
            height: 600px;
            position: absolute;
            opacity: 0.1;
            left: 0;
            top: -7%;
        }
        &::after {
            content: "";
            background-image: url("images/background logotype/background.svg");
            background-size: 1300px;
            background-repeat: no-repeat;
            width: 1300px;
            height: 1300px;
            position: absolute;
            opacity: 0.1;
            right: 0;
            top: 0;
        }
    }
    &_bottom {
        height: 1250px;
        bottom: -5%;
        transform: rotate(-4deg);
        &::after {
            content: "";
            background-image: url("images/background logotype/background.svg");
            background-size: 2100px;
            background-repeat: no-repeat;
            width: 2100px;
            height: 2100px;
            position: absolute;
            opacity: 0.1;
            right: -20%;
            top: 15%;
        }
    }
}
// .content::after {
//     content: "";
//     position: absolute;
//     bottom: -8%;
//     left: -5%;
//     z-index: -2;
//     width: 110%;
//     height: 1400px;
//     border-top: 10px solid #ef2a82;
//     transform: rotate(-5deg);
//     background-color: #172755;
//     background-image: url("/images/background logotype/background.svg");
//     background-repeat: no-repeat;
// }
// .content__background_s {
//     background-image: url("/images/background logotype/background.svg");
//     background-size: 800px;
//     background-repeat: no-repeat;
//     width: 800px;
//     height: 800px;
//     position: absolute;
//     opacity: 0.1;
//     left: -7%;
//     top: -7%;
// }
// .content__background_b{
//     background-image: url("/images/background logotype/background.svg");
//     background-size: 1500px;
//     background-repeat: no-repeat;
//     width: 1500px;
//     height: 1500px;
//     position: absolute;
//     opacity: 0.1;
//     right: -7%;
//     top: -7%;
// }
// .background {
//     position: absolute;
//     z-index: -2;
//     width: 100vw;
//     height: 800px;
//     // transform: rotate(-5deg);
//     background-color: #172755;
//     overflow: hidden;
//     left: 0;
//     &_top {
//         top: 0;
//         border-bottom: 10px solid #ef2a82;
//     }
//     &_bot {
//         bottom: 800px;
//     }
// }
// .background__content {
//     width: 1600px;
//     height: 100%;
//     position: relative;
//     margin: 0 auto;
//     &::before {
//         content: "";
//         background-image: url("/images/background logotype/background.svg");
//         background-size: 800px;
//         background-repeat: no-repeat;
//         width: 800px;
//         height: 800px;
//         position: absolute;
//         opacity: 0.1;
//         left: -600px;
//         top: -260px;
//     }
//     &::after {
//         content: "";
//         background-image: url("/images/background logotype/background.svg");
//         background-size: 1500px;
//         background-repeat: no-repeat;
//         width: 1500px;
//         height: 1500px;
//         position: absolute;
//         opacity: 0.1;
//         right: -700px;
//         bottom: -660px;
//     }
// }
// .content::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -2;
//     width: 100%;
//     height: 800px;
//     border-bottom: 10px solid #ef2a82;
//     // transform: rotate(-5deg);
//     background-color: #172755;
//     // overflow: hidden;
// }
// .content::after {
//     content: "";
//     position: absolute;
//     bottom: -600px;
//     left: -200px;
//     z-index: -2;
//     width: calc(100vw + 1000px);
//     height: 1330px;
//     border-top: 10px solid #ef2a82;
//     transform: rotate(-5deg);
//     background-color: #172755;
// }

// Header

.header {
    // border: 1px solid blue;
    position: absolute;
    height: 140px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    .wrapper {
        height: 100%;
    }
    &__content {
        @include flex-row();
        height: 100%;
        justify-content: space-between;
        padding: 0 20px;
        max-width: 1600px;
        margin: 0 auto;
    }

    &__navigation {
        @include flex-row();
    }

    &__profile {
        @include flex-row();
    }
    &__menuburger {
        display: none;
    }
    &__hamburger {
        cursor: pointer;
        position: relative;
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        margin-left: 20px;
        span {
            transition: all 0.2s linear;
            position: relative;
            display: block;
            width: 24px;
            height: 3px;
            background-color: $blue;
            &:before {
                content: "";
                transition: all 0.2s linear;
                position: absolute;
                top: -10px;
                left: 0;
                display: block;
                width: 24px;
                height: 3px;
                background-color: #8794ba;
            }
            &:after {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                display: block;
                width: 24px;
                height: 3px;
                background-color: $blue;
            }
        }
    }
}

// Left part of header

.navigation {
    &__logotype {
        margin: 0 95px 0 0;
    }
}

// logotype

.logotype {
    cursor: pointer;
    @include flex-row();
    align-items: center;
    &_pink {
        color: #fff;
        .logotype__image {
            padding-right: 13px;
            img {
                width: 40px;
            }
        }
        .logotype__name {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    &_blue {
        .logotype__image {
            padding-right: 13px;
            img {
                width: 30px;
            }
        }
        .logotype__name {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

// Nav bar

.menu {
    font-size: 16px;
    &__list {
        @include flex-row();
        height: 100%;
        align-items: center;
    }
    &__item {
        padding: 0 36px 0 0;
        &:last-child {
            padding: 0;
        }
    }
    &__link {
        color: $blue;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
        }
    }
}

// Sign in and up buttons

.profile {
    @include flex-row();
    align-items: center;
    a {
        color: $blue;
    }
    &__signin {
        margin-right: 40px;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
            text-decoration: underline;
        }
    }
    &__signup {
        padding: 10px 50px;
        border: 1px solid #465b95;
        border-radius: 70px;
        transition: 0.1s ease-out;
        &:hover {
            transition: 0.1s ease-in;
            color: #fff;
            background-color: #f14291;
            border: 1px solid transparent;
        }
    }
}

// First section

.welcome {
    height: 850px;
    &__content {
        @include flex-row();
        gap: 80px;
        height: 100%;
        align-items: center;
    }

    &__info {
        flex: 1 1 50%;
    }

    &__title {
        font-size: 50px;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        padding: 0 0 15px 0;
    }

    &__text {
        padding-bottom: 50px;
    }

    &__button {
        font-size: 16px;
        background-color: $pink;
        border-radius: 70px;
        padding: 15px 80px;
        color: #fff;
        border: 1px solid transparent;
        transition: 0.2s linear;
        &:hover {
            border: 1px solid #465b95;
            transition: 0.2s linear;
            background-color: transparent;
        }
    }
    &__images {
        flex: 1 1 60%;
        position: relative;
        height: 100%;
    }
    &__ages {
        top: 326px;
        left: 0;
        position: absolute;
        z-index: 1;
        @include rectangle-shadow();
    }

    &__graphs {
        top: 170px;
        left: 90px;
        position: absolute;
        z-index: 0;
        @include rectangle-shadow();
    }
}

// Second section

.features {
    padding: 40px 0 120px 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 40px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 30px;
    }

    &__text {
        padding-bottom: 70px;
        text-align: center;
        padding: 0 60px;
        padding-bottom: 80px;
    }

    &__cards {
        @include flex-row();
        justify-content: space-between;
    }
}
// Cards in features section
.cards {
    &__item {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    &__image {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 16px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 15px;
        text-align: center;
        line-height: 1.4;
    }

    &__description {
        text-align: center;
    }
}

// 3rd section

.caps {
    &__item {
        margin-bottom: 120px;
    }

    &__content {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
    }

    &__description {
        padding-right: 200px;
        flex: 1 1 60%;
    }

    &__title {
        font-size: 40px;
        color: #172755;
        font-weight: 700;
        padding-bottom: 30px;
        line-height: 1.2;
    }

    &__graph {
        display: flex;
        flex: 1 1 40%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__rectangle {
        @include rectangle-shadow();
        padding: 50px 70px;
    }
}
// Graph + text card
.caps__item_reverse {
    .caps__description {
        padding-left: 200px;
        text-align: right;
        padding-right: 0;
    }
}

// 4th section

.price {
    position: relative;
    padding: 200px 0 220px 0;
    width: 100%;
    &__content {
        margin: 0 -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding: 0 20px;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 30px;
        color: #fff;
    }

    &__description {
        padding: 0 20px 80px 20px;
        text-align: center;
    }

    &__tariffs {
        @include flex-row();
        justify-content: space-between;
        width: 100%;
        overflow: auto;
        align-content: center;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #172755;
    //     z-index: -1;
    // }
}
.tariffs {
    &__item {
        cursor: pointer;
        border-radius: 30px;
        background-color: #0f1f4b;
        margin: 0px 40px 30px 40px;
        transition: all 0.1s linear;
        &:first-child {
            margin: 0 40px 30px 80px;
        }
        &:last-child {
            margin: 0 80px 30px 40px;
        }
    }

    &__content {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
        padding-bottom: 10px;
    }

    &__subtitle {
        padding-bottom: 37px;
        border-bottom: 1px solid #2a407c;
    }

    &__price {
        padding-top: 30px;
        line-height: 1.2;
        font-size: 60px;
        font-weight: 700;
        p {
            display: inline-block;
            font-size: 30px;
        }
    }

    &__duration {
        font-size: 16px;
        line-height: 1.4;
        padding-bottom: 40px;
    }

    &__button {
        font-size: 16px;
        line-height: 1.2;
        padding: 15px 80px;
        background-color: transparent;
        border: 1px solid #465b95;
        color: #fff;
        border-radius: 70px;
    }
}

.tariffs__item:hover {
    transition: all 0.1s linear;
    background-color: #fff;
    box-shadow: 0px 18px 30px -15px #060f28;
    .tariffs__button {
        background-color: $pink;
        border: 1px solid transparent;
    }
    .tariffs__title {
        color: #172755;
    }
    .tariffs__price {
        color: #172755;
    }
}

// Footer

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-top: 1px solid #2a407c;
    .wrapper {
        height: 100%;
    }
    &__content {
        @include flex-row();
        justify-content: space-between;
        height: 100%;
    }

    &__links {
        @include flex-row();
        align-items: center;
    }

    &__link {
        margin-right: 40px;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        &:last-child {
            margin: 0;
        }
    }
}

// Adaptive

@media (max-width: 1300px) {
    .tariffs {
        &__item {
            margin: 0px 20px 30px 20px;
            &:first-child {
                margin: 0 20px 30px 40px;
            }
            &:last-child {
                margin: 0 40px 30px 20px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .content__background {
        width: 190%;
        left: -20%;
        &_bottom {
            height: 1250px;
            bottom: -5%;
        }
    }
    .caps__description {
        padding-right: 100px;
        flex: 1 1 50%;
    }
    .caps__item_reverse {
        .caps__description {
            padding-left: 100px;
        }
    }
}

@media (max-width: 900px) {
    .header__hamburger {
        display: flex;
    }
    .info__menu {
        display: none;
    }
    .burger {
        background-color: rgba(0, 0, 0, 0.8);
        position: relative;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 5;
        display: none;
        &__menu {
            padding: 120px 20px 0 20px;
        }
        &__items {
            font-size: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 10px 0;
        }
        &__link {
            color: #fff;
        }
    }
    .header {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        &__content {
            @include flex-row();
            background-color: #172755;
            box-shadow: 0px 3px 5px #12214db4;
            z-index: 10;
            height: 100%;
            justify-content: space-between;
            padding: 0 20px;
        }

        &__navigation {
            @include flex-row();
        }

        &__profile {
            @include flex-row();
        }
    }
    .burger._open {
        display: block;
    }
    body._block {
        overflow: hidden;
    }
    .welcome {
        height: 100%;
        padding: 150px 0 200px 0;
        &__content {
            // padding: 150px 0 0 0;
            flex-direction: column-reverse;
            gap: 0;
            height: 100%;
            align-items: center;
        }

        &__info {
            flex: 1 1 100%;
        }

        &__button {
            padding: 15px 0;
            width: 100%;
            color: #fff;
            transition: 0.2s linear;
        }
        &__images {
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0 0 25px 0;
        }
        &__ages {
            display: none;
        }

        &__graphs {
            top: 0;
            left: 0;
            position: relative;
            display: block;
            width: 100%;
            z-index: 0;
            background-color: #fff;
            box-shadow: none;
            border-radius: 30px;
            padding: 20px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .content__background {
        position: absolute;
        overflow: hidden;
        z-index: -2;
        width: 190%;
        left: -20%;
        &_top {
            height: 1400px;
        }
    }
    .features__content {
        align-items: flex-start;
    }
    .features__text {
        padding: 0 0 40px 0;
        text-align: left;
    }
    .features__cards {
        flex-direction: column;
    }
    // Cards in features section
    .cards {
        &__item {
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 35px;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-bottom: 0;
            padding: 0 28px 0 0;
        }

        &__title {
            text-align: left;
            padding-bottom: 10px;
            line-height: 1.4;
        }

        &__description {
            text-align: left;
        }
    }

    .caps {
        &__item {
            margin-bottom: 60px;
        }

        &__content {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__description {
            padding-right: 0;
            flex: 1 1 auto;
            padding-bottom: 30px;
        }

        &__title {
            font-size: 30px;
            padding-bottom: 20px;
        }

        &__graph {
            display: flex;
            flex: 1 1 auto;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__rectangle {
            @include rectangle-shadow();
            padding: 30px 40px;
        }
    }
    // Graph + text card
    .caps__item_reverse {
        .caps__content {
            flex-direction: column-reverse;
        }
        .caps__description {
            padding-left: 0;
            text-align: left;
            padding-right: 0;
        }
    }
    .price__content {
        align-items: flex-start;
    }
    .price__description {
        text-align: left;
    }
    .tariffs__item {
        background-color: #fff;
        box-shadow: 0px 18px 30px -15px #060f28;
        .tariffs__button {
            background-color: $pink;
            border: 1px solid transparent;
        }
        .tariffs__title {
            color: #172755;
        }
        .tariffs__price {
            color: #172755;
        }
    }
}
.header__hamburger._cross {
    span {
        rotate: 45deg;
        &:before {
            content: "";
            transition: all 0.2s linear;
            top: 0;
            transform: rotate(90deg);
        }
        &:after {
            content: "";
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        height: 100px;
    }
    .price {
        padding: 200px 0 170px 0;
    }
    .footer__menu {
        display: none;
    }
    .welcome__title {
        font-size: 31px;
    }
    .content__background_top {
        height: 1200px;
    }
}
@media (max-width: 600px) {
    .profile__signup {
        display: none;
    }
    .profile__signin {
        margin-right: 10px;
    }
    .navigation__logotype {
        margin: 0 40px 0 0;
    }
    .cards__description {
        font-size: 14px;
    }
    .content__background_top {
        height: 1100px;
    }
}
